<h3><%= event.escape("title") %></h3>
<div>
<dl>	
	<dt>When:</dt>
	<dd class="info-text">
		<%= (new Date(event.escape('start_time'))).toLocaleTimeString() + " " + 
				(new Date(event.escape('start_time'))).toLocaleDateString() + " -- " +
				(new Date(event.escape('end_time'))).toLocaleTimeString() + " " + 
				(new Date(event.escape('end_time'))).toLocaleDateString() %>
	</dd>
</dl>*
<dl>
	<dt>Where:</dt>
	<dd class="info-text">
		<%= event.escape('venue_title') %><br>
		<%= event.escape('address') %>
	</dd>
</dl>
<dl>
	<dt>Cost:</dt>
	<dd class="info-text"> 
		$<%= event.escape("cost") %>
	</dd>
</dl>
<dl>
	<dt>Description: </dt><br>
	<%= event.escape("description").substr(0,150) + "..." %>
</dl>
</div> 