<div id="text-box" data-id="<%= event.id %>">
	<h3 id="info-header" data-id="<%= event.id %>"><%= event.escape("title") %></h3>
	<div class="img-wrap">
		<img src="<%= event.escape("imageURL") %>" class="img-rounded" data-id="<%= event.id %>">
	</div>

	<p>
	<%= event.escape("description").substr(0,80) + "...		@" + event.escape("venue_title") %>
	</p>
</div> 