<div class="modal-backdrop">
</div>


<div class="modal-box">
  <a href="#" title="Close" class="close">X</a>
	<img src="<%= event.escape("imageURL") %>" class="img-rounded" >
	<h4><%= event.escape("title") %></h4>
	<p>
		Date: <%= (new Date(event.escape('date'))).toLocaleDateString() %> 
		<span class="venue"> Venue: <%= event.escape('venue_title') %>, <%= event.escape('address') %></span>

	<dl>
		<%= event.escape("description") %>
	</dl>

	<p>Tag: <a href="#?start_date=&end_date=&tag=<%= event.escape("category") %>"><%= event.escape("category") %></a></p>
</div>
