<!DOCTYPE html>
<html>
<head>
  <title>Whiggly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_f3Ay7ffEm3HVaecQZFxtQkv2vtV8EEI">
  </script>
</head>
<body>
	<div class="container">
	<%= render partial: "layouts/header" %>
	<%= yield %>
</div>

</body>
</html>
